@font-face {
    font-family: "bodyText";
    src: url(fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: "headerText";
    src: url(fonts/Sigmar-Regular.ttf);
}


h1 {
    font-family: 'headerText', sans-serif;
    text-align: center;
}

main{
    margin-left: 5dvh;
margin-right: 5dvh;
}

img{display:block;
margin: auto;
justify-content: center;
border-radius: 20dvh;
padding: 1dvh;
background-color: hsl(0, 61%, 35%);
}


.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 61%, 35%);
    padding: 0;
    margin: 0;
    display: flex;  /* Makes navbar items appear in a row */
    justify-content: center; /* Centers the links */
}

.navbar ul li {
    margin: 0;
    padding: 1dvh 1dvh; /* Adds spacing between links */
}

.navbar a {
    color: gold;
    text-decoration: none;
    display: block;
    padding: 2dvh 2dvh;  /* Reduced padding for better spacing */
    text-align: center;
    font-size: 1.2rem; /* Adjusts text size */
}

.navbar a:hover {
    color: white; /* Changes color when hovered */
    background-color: rgba(255, 0, 0, 0.2); /* Adds a subtle hover effect */
        border-radius: 12px;
}

h2{
    font-family: 'headerText', sans-serif;

    text-align: center;
}
p{
    font-family: 'bodyText', sans-serif;
    text-align: center;
    font-size: 3dvh;
}

li{
    font-family: 'bodyText', sans-serif;
    text-align: center;
    font-size: 3dvh;
    padding: 1dvh 1dvh;
}

#skills{
    margin-top: 5cm;
}

#About{
    margin-top: 3cm;
}

#EXP{
    margin-top: 3cm;
}
