h1 {
    text-align: center;
}

main{margin-left: 5dvh;
margin-right: 5dvh;}


.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 61%, 35%);
    padding: 0;
    margin: 0;
    display: flex;  /* Makes navbar items appear in a row */
    justify-content: center; /* Centers the links */
}

.navbar ul li {
    margin: 0;
    padding: 1dvh 1dvh; /* Adds spacing between links */
}

.navbar a {
    color: gold;
    text-decoration: none;
    display: block;
    padding: 2dvh 2dvh;  /* Reduced padding for better spacing */
    text-align: center;
    font-size: 1.2rem; /* Adjusts text size */
}

.navbar a:hover {
    color: white; /* Changes color when hovered */
    background-color: rgba(255, 0, 0, 0.2); /* Adds a subtle hover effect */
        border-radius: 12px;
}

h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: 3dvh;
}

li{
    text-align: center;
    font-size: 3dvh;
    padding: 1dvh 1dvh;
}

body{
    font-family: "PT Sans";
}

body{
    font-family: "PT Sans";
}
